<!-- SIDEBAR - START -->
<!-- MAIN MENU - START -->
<perfect-scrollbar class="page-sidebar-wrapper" id="main-menu-wrapper" wheel-propagation="true" suppress-scroll-x="true" min-scrollbar-length="20" menuheight>
    <!-- USER INFO - START -->
    <div class="profile-info" ng-show="app.settings.menuProfile">
        <div class="profile-image col-md-12 col-sm-12 col-xs-12 text-center">
            <a ui-sref="app.crm-user-profile">
                <img src="/data/profile/profile-freelancing.jpg" class="img-responsive">
                <span class="profile-status available"></span>
            </a>
        </div>
        <div class="profile-details col-md-12 col-sm-12 col-xs-12">
            <h3>
                    <a ui-sref="app.ui.profile">John Douglas</a>

                    <!-- Available statuses: online, idle, busy, away and offline -->
                </h3>
            <p class="profile-title">Administrator</p>
        </div>
    </div>
    <!-- USER INFO - END -->
    <!-- nav -->

    <nav ui-nav ng-include="'/partials/components/nav.freelancing.html'"></nav>

    <!-- nav -->
    <div class="sidebar-graphs col-md-12">
        <h5>
              New Buyers
              <span class="pull-right">80%</span>
            </h5>
        <uib-progressbar value="80" class="progress progress-sm primary"></uib-progressbar>
        <h5>
              New Projects
              <span class="pull-right">75%</span>
            </h5>
        <uib-progressbar value="75" class="progress progress-sm warning"></uib-progressbar>
    </div>
</perfect-scrollbar>
<!-- MAIN MENU - END -->
<!--  SIDEBAR - END -->
