/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import
  "www/lib/ionic/scss/ionic",
  './colors',
  './login',
  './maps',
  './places'
;
.item {
  &.center {
    justify-content: center;
  }
}

.main-background {
  background-image: url(../img/background.jpg);
}

.background, .bar.bar-header {
  background-color: #292d35;
  border: none;
}

.bar-header {
  border-left: none;
  .header-item, button, .button, .title {
    color: white !important;
  }
}

.menu-items {
  .item-content, .item {
    color: white;
    background: none;
    border: none;

    .menu-item-label {
      display: inline-block;
      margin-left: 15px;
    }
  }
}

.logo-in-the-menu-container {
  width: 100%;

  .logo-in-the-menu {
    height: 40px;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
  }
}

.sidebar-image-container {
  margin-top: 25px;
  margin-bottom: 25px;

  .sidebar-image {
    border-radius: 50%;
    width: 150px;
    display: inline-block;
    margin-left: 60px;
  }
}


.menu-items {
  margin-top: 30px;
}

.bottom-menu {
  position: relative;
  bottom: 0;
}

.done {
  background-color: rgba(0, 200, 0, 0.5);
}

.achive-image {
  height: 20px;
}

.places-list {

  .place-wrapper {
    position: relative;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  .place-image {
    width: 120px;

    img {
      display: block;
      width: 100%;
    }

  }

  .place-data {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 135px;

    .place-description {}

    .place-tags-distance {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;

      .place-tags {}

      .place-distance {
        text-align: right;
      }

    }

  }

}
