.form-notice {
  color: $light-grey;
  padding: 0 15px;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url(../img/background.jpg);

  .logo {
    margin-top: 30px;
  }

  .item {
    background: none !important;
    border: none;
  }

  .item-input {
    border-bottom: 1px solid #387ef5;

    label {
      color: #387ef5;
    }

    input {
      color: #387ef5;
      font-size: 16px;
    }
  }
}


