ya-map {
  width: 100%;
  height: 100%;
  display: block;
}

.ymaps-2-1-41-copyrights-pane {
  display: none!important;
}

.add-button {

  display: inline-block;
  padding: 4px 14px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  border: 1px solid #bbbbbb;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  font-family: Arial;
}
