.picture-block {
  width: 250px;
  height: 250px;
  border: 1px dashed #8f8f8f;
  border-radius: 15px;
  margin: 0 auto;

  img {
    border-radius: 14px;
  }

  &.big {
    width: 300px;
  }

  &.no-border {
    border: none;
  }

  &.bg-photo {
    background: url(../img/bg-photo.jpg);
    background-position: center;
    background-size: cover;
  }

}

.profile-form {
  .picture-block {
    margin: 0 auto;

    border-radius: 50%;
    overflow: hidden;
  }

  .item-input {
    padding: 15px;
  }
}

.place-box {
  max-width: 200px;
}

.ymaps-2-1-41-search__serp-button {
  display: none !important;
}

.place-image {
  //height: 200px;
  overflow: hidden;
  background-size: cover;
}

.tag-block {
  width: 100%;
  margin-left: 15px;
  .tag {
    float: left;
    height: 30px;
    line-height: 20px;
    margin-right: 7px;
    padding: 3px 7px 0;
    border-radius: 10px;
    border: 1px solid #c6c6c6;
  }
}

.treasure {
  label {
    margin-left: 10px;
  }
  .icon {
    background: url(../img/002.png);
    width: 50px;
    height: 50px;
    float: right;
    &.icon-opened {
      background: url(../img/001.png);
    }
  }
  .buttons {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    justify-content: space-between;
    width: 65%;
    button {
      margin-bottom: 5px;
      &:first-child {
        margin-top: 5px;
      }
    }
  }
}

tags-input {
  width: 100%;

  .tags {
    height: 100%;
    padding: 1px;
    overflow: hidden;
    word-wrap: break-word;
    cursor: text;
    background-color: #fff;
    border: none;
    box-shadow: none;
    -webkit-appearance: textfield;

    &.focused {
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

    .input {
      border: none;
      outline: none;
      margin: 0;
      padding: 0 0 0 5px;
      height: 32px;

      &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: transparent;
      }
      &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: transparent;
        opacity: 1;
      }
      &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: transparent;
        opacity: 1;
      }
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: transparent;
      }

    }

  }

  .host {
    margin: 0;
  }
}

.treasure-block {

  .treasure-image {
    float: left;

    .picture-block {
      width: 120px;
      height: 120px;

      img {
        display: block;
        width: 100%;
      }

    }

  }

  .treasure-tip {
    margin-left: 120px;
    padding-left: 15px;

    label {
      padding: 0;
      margin-bottom: 5px;
    }

    textarea {
      width: 100%;
      height: 92px;
      resize: none;
      padding: 5px;
      border: 1px solid #8f8f8f;
    }

  }

}
