<ion-view view-title="Достижения">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="achivement in achivements" ng-class="{done:achivement.done}">
        <img src="img/default-achiv.png" class="achive-image"/> <span class="achive-text">{{achivement.name}} - {{achivement.description}}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
