<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Добавить место</h1>
    <div class="buttons">
      <button class="button button-icon ion-close" ng-click="closeAddPlace()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doAdd()">
      <div class="list">
        <div class="item" ng-class="{'item-input': !placeData.logo}">
          <div class="picture-block bg-photo" ng-hide="placeData.logo" ng-click="addPictureAction(placeData, 'logo')"></div>
          <img width="100%" ng-click="addPictureAction(placeData, 'logo')" ng-src="{{placeData.logo}}" ng-if="placeData.logo" alt="" />
        </div>
        <div class="item item-input">
          <label class="input-label" for="placeDescription">Описание</label>
          <textarea id="placeDescription" msd-elastic ng-model="placeData.description"></textarea>
        </div>
        <div class="item item-input">
          <label class="input-label">Теги</label>
          <tags-input placeholder="." ng-model="placeData.tags"></tags-input>
        </div>
        <div class="item" ng-hide="placeFormData.showTreasure">
          <button type="button" class="button button-block button-balanced" ng-click="addTreasure()">Добавить клад</button>
        </div>
        <div class="item" ng-show="placeFormData.showTreasure">
          <button type="button" class="button button-block button-assertive" ng-click="cancelTreasure()">Отменить клад</button>
        </div>
        <div class="item treasure-block" ng-show="placeFormData.showTreasure">
          <div class="treasure-image">
            <div class="picture-block bg-photo" ng-click="addPictureAction(placeData.treasure, 'logo')">
              <img ng-src="{{placeData.treasure.logo}}" ng-if="placeData.treasure.logo" alt="" />
            </div>
          </div>
          <div class="treasure-tip">
            <label class="input-label" for="treasureTip">Подсказка</label>
            <textarea id="treasureTip" ng-model="placeData.treasure.tip"></textarea>
          </div>
        </div>
        <div class="item">
          <button type="submit" class="button button-block button-positive">Добавить</button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
