<ion-view view-title="Good Places">
  <ion-content>

    <ya-template-layout ya-key="placeTemplate">
      <div class="place-box">
        <span>$[properties.description]</span><br/>
        <a href="#/app/place/$[properties.id]">Перейти</a>
      </div>
    </ya-template-layout>

    <ya-template-layout ya-key="addButtonTemplate">
      <div class='add-button btn [if state.selected]add-button-selected[endif]'>
        $[data.content]
      </div>
    </ya-template-layout>

    <ya-template-layout ya-key="searchButtonTemplate">
      <div id="searchPlaces" class='add-button btn ion-search'></div>
    </ya-template-layout>

    <ya-map ng-style="{height: mapHeight}"
            ya-zoom="15"
            ya-center="{{ center }}"
            ya-before-init="beforeInit()"
            ya-controls="">

      <ya-collection ya-options="{preset: 'islands#yellowIcon'}">
        <ya-geo-object ng-repeat="o in places.with"
                       ya-source="o"
                       ya-options="{balloonContentLayout:'placeTemplate',balloonPanelMaxMapArea: 0}">
        </ya-geo-object>
      </ya-collection>

      <ya-collection ya-options="{preset: 'islands#blueIcon'}">
        <ya-geo-object ng-repeat="o in places.without"
                       ya-source="o"
                       ya-options="{balloonContentLayout:'placeTemplate',balloonPanelMaxMapArea: 0}">
        </ya-geo-object>
      </ya-collection>

      <ya-control
        ya-type="button"
        ya-params="{
          data: {
            content: 'Добавить место'
          },
          options: {
            maxWidth: [28, 150, 178],
            selectOnClick: false,
            layout: 'addButtonTemplate'
          }
        }"
        ya-options="{layout:'addButtonTemplate'}"
        ya-event-click="addPlace()">
      </ya-control>

      <ya-control ya-type="SearchControl"
                  ya-options="{noSuggestPanel: true, noSelect: true, noPopup: true, noPlacemark: true, placeholderContent: 'Введите теги'}"
                  ya-event-submit="doSearchPlaces($event)"
                  ya-event-clear="doClearSearch($event)"
                  ya-after-init="doAfterSearchInit($target)">
      </ya-control>

      <ya-control ya-type="GeolocationControl" ya-options="{float:'right'}"></ya-control>
      <ya-control ya-type="ZoomControl" ya-options="{float:'right'}"></ya-control>

    </ya-map>
  </ion-content>
</ion-view>
