<ion-view view-title="Список мест">
  <ion-content>
    <div class="places-list">
      <ion-list>
        <ion-item ng-repeat="place in places">
          <div class="place-wrapper">
            <a href="#/app/place/{{place.id}}">
              <div class="place-image">
                <img ng-src="{{place.logo}}">
              </div>
              <div class="place-data">
                <p class="place-description">
                  {{place.description}}
                </p>
                <div class="place-tags-distance">
                  <p class="place-tags">
                    <span ng-repeat="tag in place.tags">#{{tag}}&nbsp;</span>
                  </p>
                  <p class="place-distance">
                    {{place.distance}} км
                  </p>
                </div>
              </div>
            </a>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
