<ion-view view-title="Логин">
  <ion-content class="main-background">
    <form ng-submit="doLogin()" class="login-form" ng-style="{height: mapHeight}" novalidate>
      <div class="logo">
        <img src="img/logo.png" alt="logo"/>
      </div>
      <div class="list">
        <div class="item item-input">
          <label class="input-label" for="loginUsername">Почта</label>
          <input type="email" id="loginUsername" ng-model="loginData.email">
        </div>
        <div class="item item-input">
          <label class="input-label" for="loginPassword">Пароль</label>
          <input type="password" id="loginPassword" ng-model="loginData.password">
        </div>
        <div class="item">
          <button type="submit" class="button button-block button-positive">Войти</button>
        </div>
        <div class="form-notice text-center">
          *Мы создадим вам аккаунт, если вы еще не зарегистрированы в системе.
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
