<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <a ui-sref="profile" class="button button-icon button-clear ion-person" menu-toggle="right"></a>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable background">
    </ion-header-bar>
    <ion-content class="background">
      <div class="sidebar-image-container">
        <img ng-src="{{user.logo}}" alt="профиль" class="sidebar-image"/>
      </div>
      <ion-list class="menu-items">
        <ion-item menu-close ui-sref="app.home">
          <i class="ion-navicon-round button-icon"></i>
          <span class="menu-item-label">Главная</span>
        </ion-item>
        <ion-item menu-close ui-sref="app.listPlaces">
          <i class="ion-ios-list button-icon"></i>
          <span class="menu-item-label">Список мест</span>
        </ion-item>
        <ion-item menu-close ui-sref="app.achivements">
          <i class="ion-flag button-icon"></i>
          <span class="menu-item-label">Достижения</span>
        </ion-item>
        <ion-item menu-close ui-sref="app.about">
          <i class="ion-help button-icon"></i>
          <span class="menu-item-label">О приложении</span>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
