<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Открыть клад</h1>
    <div class="buttons">
      <button class="button button-icon ion-close" ng-click="modal.hide()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doOpen()">
      <div class="list">
        <div class="item" ng-class="{'item-input': !placeData.treasure.confirmation_image}">
          <div class="picture-block bg-photo" ng-hide="placeData.treasure.confirmation_image" ng-click="addPictureAction(placeData.treasure, 'confirmation_image')"></div>
          <img width="100%" ng-click="addPictureAction(placeData.treasure, 'confirmation_image')" ng-src="{{placeData.treasure.confirmation_image}}" ng-if="placeData.treasure.confirmation_image" alt="" />
        </div>
        <div class="item">
          <button type="submit" class="button button-block button-positive">Открыть</button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
