<ion-view>
  <ion-content>
    <div>
      <div class="list">
        <div class="place-image" ng-style="{background:'url('+placeData.logo+') no-repeat center center fixed',backgroundSize: 'cover'}">
          <img width="100%" ng-src="{{placeData.logo}}" ng-if="placeData.logo" alt="" />
        </div>
        <div class="item item-input">
          <label class="input-label">{{placeData.description}}</label>
        </div>
        <div class="item item-input">
          Теги:
          <div class="tag-block">
            <div class="col-xs-3 tag" ng-repeat="t in placeData.tags">{{t}}</div>
          </div>
        </div>
        <div class="item" ng-if="placeData.treasures.length">
          <h1>Клады:</h1>
        </div>
        <div class="item item-input treasure" ng-repeat="tr in placeData.treasures">
          <img width="100" height="100" ng-src="{{tr.treasureConfirmationImage?tr.treasureConfirmationImage:tr.logo}}" />
          <label class="input-label" ng-hide="tr.treasureConfirmationImage">{{tr.tip}}</label>
          <i ng-hide="tr.treasureConfirmationImage" ng-click="openTreasure(tr)" class="icon " ng-class="{'icon-opened':tr.active==2}">
            <img width="50" ng-src="{{tr.active==2?'img/001.png':'img/002.png'}}" alt="" />
          </i>
          <div ng-show="tr.treasureConfirmationImage" class="buttons" style="display: flex;flex-direction: column;margin-left: 5px;">
            <button class="button button-balanced" ng-click="accept(tr)" ng-show="tr.treasureConfirmationImage" type="button">Подтвердить</button>
            <button class="button button-assertive" ng-click="decline(tr)" ng-show="tr.treasureConfirmationImage" type="button">Отказать</button>
          </div>
        </div>

        <div class="item" ng-hide="placeFormData.showTreasure">
          <button type="button" class="button button-block button-balanced" ng-click="addTreasure()">Добавить клад</button>
        </div>
        <div class="item" ng-show="placeFormData.showTreasure">
          <button type="button" class="button button-block button-assertive" ng-click="cancelTreasure()">Отменить клад</button>
        </div>
        <div class="item treasure-block" ng-show="placeFormData.showTreasure">
          <div class="treasure-image">
            <div class="picture-block bg-photo" ng-click="addPictureAction(placeData.treasure, 'logo')">
              <img ng-src="{{placeData.treasure.logo}}" ng-if="placeData.treasure.logo" alt="" />
            </div>
          </div>
          <div class="treasure-tip">
            <label class="input-label" for="treasureTip">Подсказка</label>
            <textarea id="treasureTip" ng-model="placeData.treasure.tip"></textarea>
          </div>
        </div>
        <div class="item" ng-show="placeFormData.showTreasure">
          <button class="button button-block button-positive" ng-click="saveTreasure()">Добавить</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
