<ion-view view-title="Профиль">
  <ion-header-bar>
    <ion-nav-bar class="bar-stable">
      <ion-nav-buttons side="left">
        <a class="button button-icon button-clear ion-arrow-left-c" ng-click="goBack()"></a>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <a class="button button-icon button-clear ion-log-out" ng-click="doLogout()"></a>
      </ion-nav-buttons>
    </ion-nav-bar>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doUpdate()" class="profile-form">
      <div class="list">
        <div class="item">
          <div class="picture-block big no-border" ng-click="addPictureAction()">
            <img width="300" ng-src="{{profileData.logo}}" ng-if="profileData.logo" alt="" />
          </div>
          <input type="hidden" id="profileLogo" ng-model="profileData.logo">
        </div>
        <div class="item item-input">
          <label class="input-label" for="profileFirstName">Имя</label>
          <input type="text" id="profileFirstName" ng-model="profileData.first_name">
        </div>
        <div class="item item-input">
          <label class="input-label" for="profileLastName">Фамилия</label>
          <input type="text" id="profileLastName" ng-model="profileData.last_name">
        </div>
        <div class="item item-input">
          <label class="input-label" for="profileEmail">Email</label>
          <input type="text" id="profileEmail" ng-model="profileData.email">
        </div>
        <div class="item">
          <button type="submit" class="button button-block button-positive">Обновить</button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
