<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Single Blog Post';">
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Single Blog Post</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-30">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <!-- start -->
                        <div class="blog_post full_blog_post">
                            <h3><a href="#">Contrast and Similarity in Graphic Design</a></h3>
                            <h5>Written by <a href="#">Me</a> on May 11, 2013.</h5>
                            <p class="blog_info">
                                <i class="fa fa-comment"></i> <a href="#comments">3 comments</a> &nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="fa fa-tags"></i> <a href="#">responsive</a> <a href="#">web</a> <a href="#">mobile</a>
                            </p>
                            <div class="blog-content">
                                <p>Graphic design is the art of visual communication through the use of images, words, and ideas to give information to the viewers. Graphic design can be used for advertising, or just for entertainment intended for the mind.</p>
                                <img class="media-object" src="/data/blogs/blog-1.jpg" alt="">
                                <p>Designs in balance (or equilibrium) have their parts arrangement planned, keeping a coherent visual pattern (color, shape, space). "Balance" is a concept based on human perception and the complex nature of the human senses of weight and proportion. Humans can evaluate these visual elements in several situations to find a sense of balance. A design composition does not have to be symmetrical or linear to be considered balanced, the balance is global to all elements even the absence of content. In this context perfectly symmetrical and linear compositions are not necessarily balanced and so asymmetrical or radial distributions of text and graphic elements can achieve balance in a composition.</p>
                                <p>Distinguishing by comparing/creating differences. Some ways of creating contrast among elements in the design include using contrasting colors, sizes, shapes, locations, or relationships. For text, contrast is achieved by mixing serif and sans-serif on the page, by using very different type styles, or by using type in surprising or unusual ways. Another way to describe contrast, is to say "a small object next to a large object will look smaller". As contrast in size diminishes, monotony is approached.</p>
                                <p>Making a specific element stand out or draw attention to the eye. Emphasis can be achieved in graphic design by placing elements on the page in positions where the eye is naturally drawn, by using other principles such as contrast, repetition, or movement. Bold and italic type provides emphasis for text. Graphic elements gain emphasis through size, visual weight, color, complexity, uniqueness, placement on the page, and other features.</p>
                            </div>
                            <div id="comments">
                                <h3>Comments</h3>
                                <div class="well comment-block level-1" style="display:inline-block;">
                                    <div class="col-md-1 col-sm-2 col-xs-3 img-area">
                                        <img src="/data/profile/avatar-1.png">
                                    </div>
                                    <div class="col-md-11 col-sm-10 col-xs-9">
                                        <h5><i class="icon-user"></i>&nbsp;By <a href="#">Jason</a> on May 12, 2013.</h5>
                                        <div>
                                            <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong in labore pig pork biltong.</p>
                                        </div>
                                        <a href="#" class="pull-left">Reply &nbsp;<i class="fa fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                                <div class="well comment-block level-2" style="display:inline-block;">
                                    <div class="col-md-1 col-sm-2 col-xs-3 img-area">
                                        <img src="/data/profile/avatar-2.png">
                                    </div>
                                    <div class="col-md-11 col-sm-10 col-xs-9">
                                        <h5><i class="icon-user"></i>&nbsp;By <a href="#">Jason</a> on May 12, 2013.</h5>
                                        <div>
                                            <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong in labore pig pork biltong.</p>
                                        </div>
                                        <a href="#" class="pull-left">Reply &nbsp;<i class="fa fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                                <div class="well comment-block level-3" style="display:inline-block;">
                                    <div class="col-md-1 col-sm-2 col-xs-3 img-area">
                                        <img src="/data/profile/avatar-3.png">
                                    </div>
                                    <div class="col-md-11 col-sm-10 col-xs-9">
                                        <h5><i class="icon-user"></i>&nbsp;By <a href="#">Jason</a> on May 12, 2013.</h5>
                                        <div>
                                            <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong in labore pig pork biltong.</p>
                                        </div>
                                        <a href="#" class="pull-left">Reply &nbsp;<i class="fa fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                                <div class="well comment-block level-1" style="display:inline-block;">
                                    <div class="col-md-1 col-sm-2 col-xs-3 img-area">
                                        <img src="/data/profile/avatar-4.png">
                                    </div>
                                    <div class="col-md-11 col-sm-10 col-xs-9">
                                        <h5><i class="icon-user"></i>&nbsp;By <a href="#">Jason</a> on May 12, 2013.</h5>
                                        <div>
                                            <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong in labore pig pork biltong.</p>
                                        </div>
                                        <a href="#" class="pull-left">Reply &nbsp;<i class="fa fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br>
                            <h3>Leave a Comment</h3>
                            <form class="form row">
                                <div class="form-group col-xs-9">
                                    <label class="form-label" for="inputName">Name</label>
                                    <div class="controls">
                                        <input type="text" class=" form-control col-md-12" id="inputName">
                                    </div>
                                </div>
                                <div class="form-group col-xs-9">
                                    <label class="form-label" for="inputEmail">Email</label>
                                    <div class="controls">
                                        <input type="text" class=" form-control col-md-12" id="inputEmail">
                                    </div>
                                </div>
                                <div class="form-group col-xs-9">
                                    <label class="form-label" for="inputComment">Comment</label>
                                    <div class="controls">
                                        <textarea class=" form-control col-md-12" id="inputComment" rows="6"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-xs-9 margin-bottom-0">
                                    <div class="controls action">
                                        <button type="submit" class="btn btn-primary">Post Comment</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end -->
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
