<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Invoice';">
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Invoice</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <!-- start -->
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">

                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-6">
                                <img class="invoice-logo" src="/data/invoice/invoice-logo.png">
                                <br>
                                <div class=''>
                                    795 Folsom Ave, Suite 600
                                    <br> San Francisco, CA 94107
                                    <br> P: (123) 456-7890
                                    <br> E-mail: example@mysite.com
                                    <br> Phone: (123) 456-7890
                                    <br> Fax: 800-692-7753
                                </div>
                                <br>
                            </div>
                            <div class="col-md-6 text-right">
                                <h4 class="margin-bottom-10">Billed To:</h4>
                                <address>
                                    <h3 class="margin-bottom-5">John Smith</h3>
                                    <span class=''>1234 Main Street<br>Apt. 34/4B<br>
                            Springfield<br>ST 54321</span>
                                </address>

                                <span class=''>Order # 12345<br>
21st July 2015</span>
                                <br>
                                <div>
                                    Invoice Date: 22nd July 2015
                                    <br>Due Date: 22nd July 2015
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br>
                            <div class="col-xs-6 invoice-infoblock pull-left">
                            </div>

                            <div class="clearfix"></div>

                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">

                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover invoice-table">
                                        <thead>
                                            <tr>
                                                <td>
                                                    <h4>Item</h4></td>
                                                <td class="text-center">
                                                    <h4>Price</h4></td>
                                                <td class="text-center">
                                                    <h4>Quantity</h4></td>
                                                <td class="text-right">
                                                    <h4>Totals</h4></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                            <tr>
                                                <td>BS-200</td>
                                                <td class="text-center">$10.99</td>
                                                <td class="text-center">1</td>
                                                <td class="text-right">$10.99</td>
                                            </tr>
                                            <tr>
                                                <td>BS-400</td>
                                                <td class="text-center">$20.00</td>
                                                <td class="text-center">3</td>
                                                <td class="text-right">$60.00</td>
                                            </tr>
                                            <tr>
                                                <td>BS-1000</td>
                                                <td class="text-center">$600.00</td>
                                                <td class="text-center">1</td>
                                                <td class="text-right">$600.00</td>
                                            </tr>
                                            <tr>
                                                <td>BS-2000</td>
                                                <td class="text-center">$1000.00</td>
                                                <td class="text-center">1</td>
                                                <td class="text-right">$1000.00</td>
                                            </tr>
                                            <tr>
                                                <td class="thick-line"></td>
                                                <td class="thick-line"></td>
                                                <td class="thick-line text-center">
                                                    <h4>Subtotal</h4></td>
                                                <td class="thick-line text-right">
                                                    <h4>$1670.99</h4></td>
                                            </tr>
                                            <tr>
                                                <td class="no-line"></td>
                                                <td class="no-line"></td>
                                                <td class="no-line text-center">
                                                    <h4>Shipping</h4></td>
                                                <td class="no-line text-right">
                                                    <h4>$15</h4></td>
                                            </tr>
                                            <tr>
                                                <td class="no-line"></td>
                                                <td class="no-line"></td>
                                                <td class="no-line text-center">
                                                    <h4>VAT</h4></td>
                                                <td class="no-line text-right">
                                                    <h4>$150.23</h4></td>
                                            </tr>
                                            <tr>
                                                <td class="no-line"></td>
                                                <td class="no-line"></td>
                                                <td class="no-line text-center">
                                                    <h4>Total</h4></td>
                                                <td class="no-line text-right">
                                                    <h3 style='margin:0px;' class="text-primary">$1985.99</h3></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <br>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 text-right">
                                <a href="#" target="_blank" class="btn btn-default btn-md"><i class="material-icons icon-sm">print</i>&nbsp; Print </a>
                                <a href="#" target="_blank" class="btn btn-accent btn-md"><i class="material-icons icon-sm">payment</i>&nbsp; Proceed to Payment </a>
                            </div>
                        </div>
                        <!-- end -->
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
