<div class="col-lg-12 login_page">
<div class="login-wrapper"
    <section class="box nobox">
                <div class="content-body">    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">

            <h1 class="lockscreen_icon"><i class='material-icons icon-accent'>lock</i></h1>
            <h1 class="lockscreen_info"><img src='/data/profile/profile.png'> Hello Jason,</h1>

            <div class="col-md-4 col-sm-6 col-xs-8 col-md-offset-4 col-sm-offset-3 col-xs-offset-2 lockscreen_search_area">
                <form action="javascript:;" method="post" class="lockscreen_search">
                    <div class="input-group accent">
                        <span class="input-group-addon">
                            <i class="material-icons icon-accent">lock_open</i>
                        </span>
                        <input type="password" class="form-control" placeholder="Type & Enter">
                        <input type='submit' value="">
                    </div>
                </form>
            </div>
            <div class="clearfix"></div>
            <h1 class="lockscreen_tagline">Please enter your password for access</h1>


        </div>
    </div>
    </div>
        </section></div></div>



