<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Profile';">
    <div class="col-lg-12" ng-controller="ProfileCtrl">
        <section class="box nobox">
            <div class="content-body">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12 padding-right-0">
                        <div class=" uprofile-wrapper">
                            <div class="uprofile-image">
                                <img src="/data/profile/profile.png" class="img-responsive">
                            </div>
                            <div class="uprofile-name">
                                <h3>
                                    <a href="#">John Carter</a>
                                    <!-- Available statuses: online, idle, busy, away and offline -->
                                    <span class="uprofile-status online"></span>
                                </h3>
                                <p class="uprofile-title">Web Developer</p>
                                <p class="text-light profile-text">Hello, I am John. I love working on web. I do photoshop, php, wordpress, css, html, ajax etc.</p>
                                <p class="margin-top-30">
                                    <a href="#" class="btn btn-default btn-md text-light"><i class="fa fa-phone icon-xs"></i></a>
                                    <a href="#" class="btn btn-default btn-md text-light"><i class="fa fa-skype icon-xs"></i></a>
                                    <a href="#" class="btn btn-default btn-md text-light"><i class="fa fa-facebook icon-xs"></i></a>
                                </p>
                            </div>
                        </div>
                        <div class="uprofile-buttons margin-0 padding-top-0 text-center">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-12 padding-left-0">
                      <div class="uprofile-content padding-top-30">
                        <div class="clearfix"></div>
                        <div class="uprofile_wall_posts col-md-12 col-sm-12 col-xs-12">
                          <div class="calendar" ng-model="eventSources" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
                        </div>
                      </div>
                      <div class="uprofile-content padding-top-30">
                        <h1>My Courses</h1>
                        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center" ng-repeat="course in courses">
                          <div class="team-member ">
                            <div class="team-img col-md-12 col-sm-12 col-xs-12">
                              <a ui-sref="app.uni-course-info">
                                <img class="img-responsive center-block" ng-src="{{course.image}}" alt="">
                              </a>
                            </div>
                            <div class="team-info col-md-12 col-sm-12 col-xs-12">
                              <h4 class='margin-top-15 margin-bottom-10 text-primary'><a ui-sref="app.uni-course-info">{{course.name}}</a></h4>
                              <span>{{course.year}}, {{course.department}}</span>
                              <br>
                              <span><small>Price: </small><strong>{{course.price}}</strong> <small>Time: </small>{{course.timelength}}</span>
                              <br>
                              <span><small>Prof.:</small> <strong>{{course.professor}}</strong></span>
                              <br>
                              <span><small>Students:</small> <strong>{{course.students}}</strong></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
