<div class="login_page">
    <div class="register-wrapper" ng-controller="RegisterFormController">
        <div id="register"
             class="login loginpage col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
            <h1><a href="#" title="Login Page" tabindex="-1">Slant Admin - Angular</a></h1>

            <form name="form" class="form-validation">
                <div class="text-danger wrapper text-center" ng-show="authError">
                    {{authError}}
                </div>
                <p>

                    <input type="text" name="name" id="user_name" class="input" ng-model="user.name"
                           placeholder="Full Name" required/></label>
                </p>
                <p>

                    <input type="email" name="log" id="user_login" class="input" ng-model="user.email"
                           placeholder="Email" required/></label>
                </p>
                <p>

                    <input type="password" name="pwd" id="user_pass" class="input" ng-model="user.password"
                           placeholder="Password" required/></label>
                </p>
                <p class="forgetmenot">
                    <label class="icheck icheck-white" for="rememberme">
                        <input type="checkbox" value="forever" name="rememberme" checked id="rememberme">
                        <i></i> I agree to terms to conditions
                    </label>
                </p>


                <p class="submit">
                    <button type="submit" name="wp-submit" id="wp-submit" class="btn btn-accent btn-block"
                            ng-click="register()" ng-disabled='form.$invalid'>Sign Up
                    </button>
                </p>
            </form>

            <p id="nav">
                <a class="pull-right" ui-sref="login" title="Sign Up">Sign In</a>
            </p>
            <div class="clearfix"></div>


        </div>
    </div>
</div>




