<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Edit Course';">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Course Basic Info</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-0">
                <div class="row">
                <form action ="#" method="post">
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
                        <div class="form-group">
                            <label class="form-label" for="field-1">Name</label>
                            <span class="desc"></span>
                            <div class="controls">
                                <input type="text" value="Prof. Arthur Yurey" class="form-control" id="field-1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="field-5">Starts From</label>
                            <span class="desc">e.g. "04/03/2015"</span>
                            <div class="controls">
                                <input type="text" name="masked" ng-init="mask11='04-03-1975'" ui-mask="99-99-9999" placeholder="MM-DD-YYYY" class="form-control" ng-model="mask11" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="field-1">Course Time Length</label>
                            <span class="desc">Eg: 6 months.</span>
                            <div class="controls">
                                <input type="text" class="form-control" id="field-1" value="3 months">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="field-1">Course Price</label>
                            <span class="desc">Eg: Free, $400.00</span>
                            <div class="controls">
                                <input type="text" class="form-control" id="field-1" value="$300.00">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="field-1">Professor</label>
                            <span class="desc">Eg: Prof. John Law</span>
                            <div class="controls">
                                <input type="text" class="form-control" id="field-1" value="Prof. Jason">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="field-1">Course Image</label>
                            <span class="desc"></span>
                            <img class="img-responsive" ng-src="/data/courses/course-1.jpg" alt="" style="max-width:120px;">
                            <div class="controls">
                                <input type="file" class="form-control" id="field-5">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="field-5">Department</label>
                            <span class="desc"></span>
                            <div class="input-group" inputgroup>
                                <select class="form-control ">
                                    <option selected="selected">Computer Engineering</option>
                                    <option>Architecture</option>
                                    <option>MBA</option>
                                    <option>Automobile Engg.</option>
                                    <option>Civil Engg.</option>
                                    <option>Mechanical Engg.</option>
                                    <option>BBA</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="field-1">Year</label>
                            <span class="desc">Eg: Last Year.</span>
                            <div class="controls">
                                <input type="text" class="form-control" value="Last Year" id="field-1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="field-6">Brief</label>
                            <span class="desc">e.g. "Enter any size of text description here"</span>
                            <div class="controls">
                                <textarea class="form-control" cols="5" id="field-6">Well structured and deep knowledge in the subject is given in this course along with live practical examples.</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="field-1">Website URL</label>
                            <span class="desc"></span>
                            <div class="controls">
                                <input type="text" class="form-control" value="http://www.example.com" id="field-61">
                            </div>
                        </div>
                    </div>


                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                            <div class="text-left">
                                <button type="button" class="btn btn-primary">Save</button>
                                <button type="button" class="btn">Cancel</button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Course Social Media Info</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-0">
                <div class="row">
                    <form action="#" method="post">
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
                            <div class="form-group">
                                <label class="form-label" for="field-1">Facebook URL</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" value="http://www.facebook.com/userID" id="field-31">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Twitter URL</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" value="http://www.twitter.com/userID" id="field-41">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Google Plus URL</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" value="http://www.plus.google.com/userID" id="field-51">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                            <div class="text-left">
                                <button type="button" class="btn btn-primary">Save</button>
                                <button type="button" class="btn">Cancel</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
