<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Edit Staff Member';">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Staff Member Basic Info</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-0">
                <div class="row">
                <form action ="#" method="post">
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
                        <div class="form-group">
                            <label class="form-label" for="field-1">Name</label>
                            <span class="desc"></span>
                            <div class="controls">
                                <input type="text" value="Mr. Arthur Jackson" class="form-control" id="field-1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="field-5">Department</label>
                            <span class="desc"></span>
                            <div class="input-group" inputgroup>
                                <select class="form-control ">
                                    <option></option>
                                    <option selected="selected">Library</option>
                                    <option>Administration</option>
                                    <option>Computer Lab</option>
                                    <option>Electronics Lab</option>
                                    <option>Mechanical Lab</option>
                                    <option>Front Office</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="field-1">Position</label>
                            <span class="desc"></span>
                            <div class="controls">
                                <input type="text" value="Head of Dept." class="form-control" id="field-1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="field-5">Date of Birth</label>
                            <span class="desc">e.g. "04/03/2015"</span>
                            <div class="controls">
                                <input type="text" name="masked" ng-init="mask11='04-03-1985'" ui-mask="99-99-9999" placeholder="MM-DD-YYYY" class="form-control" ng-model="mask11" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="field-5">Gender</label>
                            <span class="desc"></span>
                            <div class="input-group" inputgroup>
                                <select class="form-control ">
                                    <option></option>
                                    <option selected="selected">Male</option>
                                    <option>Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="field-1">Profile Image</label>
                            <span class="desc"></span>
                            <img class="img-responsive" ng-src="/data/uni-staffs/staff-1.jpg" alt="" style="max-width:120px;">
                            <div class="controls">
                                <input type="file" class="form-control" id="field-5">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="field-6">Brief</label>
                            <span class="desc">e.g. "Enter any size of text description here"</span>
                            <div class="controls">
                                <textarea class="form-control" cols="5" id="field-6"></textarea>
                            </div>
                        </div>
                    </div>


                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                            <div class="text-left">
                                <button type="button" class="btn btn-primary">Save</button>
                                <button type="button" class="btn">Cancel</button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Staff Member Account Info</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-0">
                <div class="row">
                <form action="#" method="post">
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
                        <div class="form-group">
                            <label class="form-label" for="field-1">Email</label>
                            <span class="desc"></span>
                            <div class="controls">
                                <input type="text" class="form-control" value="email@example.com" id="field-3">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="field-2">Phone</label>
                            <span class="desc">e.g. "(534) 253-5353"</span>
                            <div class="controls">
                                <input type="text" name="masked" ui-mask="(999) 999-9999" placeholder="(999) 999-9999" class="form-control" ng-model="mask1" required ng-init="mask1='(123) 456-7878'">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="field-2">Password</label>
                            <span class="desc"></span>
                            <div class="controls">
                                <input type="password" value="" class="form-control" id="field-2">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="field-2">Confirm Password</label>
                            <span class="desc"></span>
                            <div class="controls">
                                <input type="password" value="" class="form-control" id="field-21">
                            </div>
                        </div>
                    </div>


                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                            <div class="text-left">
                                <button type="button" class="btn btn-primary">Save</button>
                                <button type="button" class="btn">Cancel</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Staff Member Social Media Info</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-0">
                <div class="row">
                    <form action="#" method="post">
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
                            <div class="form-group">
                                <label class="form-label" for="field-1">Facebook URL</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" value="http://www.facebook.com/userID" id="field-31">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Twitter URL</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" value="http://www.twitter.com/userID" id="field-41">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Google Plus URL</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" value="http://www.plus.google.com/userID" id="field-51">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                            <div class="text-left">
                                <button type="button" class="btn btn-primary">Save</button>
                                <button type="button" class="btn">Cancel</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
