<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Staff Profile';">
    <div class="col-lg-12">
        <section class="box nobox">
            <div class="content-body">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12 padding-right-0">
                        <div class=" uprofile-wrapper">
                            <div class="uprofile-image">
                                <img src="/data/uni-staffs/staff-1.jpg" class="img-responsive">
                            </div>
                            <div class="uprofile-name">
                                <h3>
                                <a href="#">Mr. John Dawson</a>
                                <!-- Available statuses: online, idle, busy, away and offline -->
                                <span class="uprofile-status online"></span>
                                </h3>
                                <p class="uprofile-title">Administration</p>
                                <p class="text-light profile-text"> Mr. John is a prominent African American educator; Assistant Professor in the Teaching Credentials Department of California State University.</p>
                                <p class="margin-top-30">
                                <a href="#" class="btn btn-default btn-md text-light"><i class="fa fa-google-plus icon-xs"></i></a>
                                <a href="#" class="btn btn-default btn-md text-light"><i class="fa fa-twitter icon-xs"></i></a>
                                <a href="#" class="btn btn-default btn-md text-light"><i class="fa fa-facebook icon-xs"></i></a>
                                </p>
                                <br>
                                <a class="btn btn-md btn-default" style='width:150px;'>Follow</a>
                                <div class="margin-top-30">
                                    <div class="col-xs-4 bg-white">
                                        <strong class="uprofile-count">760</strong>
                                        <span>Follower</span>
                                    </div>
                                    <div class="col-xs-4 bg-white">
                                        <strong class="uprofile-count">280</strong>
                                        <span>Following</span>
                                    </div>
                                    <div class="col-xs-4 bg-white">
                                        <strong class="uprofile-count">4104</strong>
                                        <span>Tweets</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uprofile-buttons margin-0 padding-top-0 text-center">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-12 padding-left-0">
                        <div class="uprofile-content padding-top-30">

                            <h4>Biography:</h4>
                            <p>Sacramento's College of Education; Director of the National Council of Teachers of English-West located at the University of California Berkeley’s Graduate School of Education, and the former Executive Director of the Center for Civic Engagement and the Bay Area Teachers Center based at Lick-Wilmerding High School and San Francisco State University. Allender is well known for his work on Expanding the Canon, an award-winning television series on teaching multicultural literature produced in collaboration with Thirteen WNET and AnnenbergCPB.</p>
                            <p>In the United States, the Ed.D. tends to be granted by the school of education of universities and is a terminal degree in education. Majors within the Ed.D. may include: counseling, curriculum and instruction/curriculum and teaching, educational administration, education policy, educational psychology, educational technology, higher education, human resource development, language/linguistics or leadership. </p>
                            <div class="clearfix"></div>
                            <hr>
                            <h4>Education:</h4>
                            <ul>
                                <li>B.Com from Ski University</li>
                                <li>In hac habitasse platea dictumst.</li>
                                <li>In hac habitasse platea dictumst.</li>
                                <li>Vivamus elementum semper nisi.</li>
                                <li>Praesent ac sem eget est egestas volutpat.</li>
                            </ul>
                            <div class="clearfix"></div>
                            <hr>
                            <h4>Experience:</h4>
                            <ul>
                                <li>Integer tincidunt.</li>
                                <li>Praesent vestibulum dapibus nibh.</li>
                                <li>Integer tincidunt.</li>
                                <li>Praesent vestibulum dapibus nibh.</li>
                                <li>Integer tincidunt.</li>
                                <li>Praesent vestibulum dapibus nibh.</li>
                            </ul>

                            <div class="clearfix"></div>
                            <hr>
                            <h4>Accomplishments:</h4>
                            <ul>
                                <li>Integer tincidunt.</li>
                                <li>Praesent vestibulum dapibus nibh.</li>
                                <li>M.B.B.S from Ski University</li>
                                <li>Praesent vestibulum dapibus nibh.</li>
                                <li>Proin pretium, leo ac pellentesque mollis justo.</li>
                                <li>unc ultrices eros, sed gravida augue augue</li>
                            </ul>
                            <div class="clearfix"></div>
                            <hr>
                            <div class="clearfix"></div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
